body {
  text-align: center !important;
  background-color: lavender !important;
}

table {
  margin-top: 3rem;
}

#getDetails {
  background-color: darkseagreen;
}

#getDetails:hover {
  background-color: lightgreen;
}

#pin {
  border: 2px solid;
}
